@model TyresPageView

@{
    ViewData["Title"] = "Search results";
}

<h1>@ViewData["Title"]</h1>
<br />

@await Html.PartialAsync("~/Views/Tyre/_TyreSearch.cshtml", Model.Search)
<br />

@{
    var listed = Model.Elements.ToList();
    var count = listed.Count;
    var boxAtRow = 3;
}

@for (int i = 0; i < count; i += boxAtRow)
{
    <div class="card-deck">
        @for (int j = i; j < i + boxAtRow && j < count; j++)
        {
            <div class="card border-primary" style="max-width: 20rem;" onmouseover="grayBackground(this)" onmouseout="whiteBackground(this)">
                <div class="card-header bg-transparent border-primary text-center">
                    @listed[j].Brand @listed[j].Model
                </div>

                <div class="card-body">
                    <div>
                        <img src="~/img/TyreDummy.png" width="150" height="150" />
                    </div>
                    <div class="text-right">
                        <p class="card-text">$@(listed[j].Price.ToMoney())</p>
                        <p class="card-text">@listed[j].Width/@listed[j].Ratio/@listed[j].Diameter</p>
                        <p class="card-text">@listed[j].Season</p>
                    </div>
                </div>

                <div class="card-footer bg-transparent border-primary">
                    <a class="btn btn-primary" href="/Cameras/Details/@listed[j].Id">Details</a>
                </div>
            </div>
        }
    </div>
    <br />
}

@{
    var disablePrevious = Model.HasPrevious ? "" : "disabled";
    var disableNext = Model.HasNext ? "" : "disabled";
}

<nav aria-label="Page navigation example" style="text-align: center">
    <ul class="pagination pagination-lg">
        <li class="page-item @disablePrevious">
            <a class="page-link" href="/cars/all?page=@Model.PreviousPage">Previous</a>
        </li>

        <li class="page-item active">
            <a class="page-link" href="#">@Model.Page <span class="sr-only">(current)</span></a>
        </li>

        <li class="page-item @disableNext">
            <a class="page-link" href="/cars/all?page=@Model.NextPage">Next</a>
        </li>
    </ul>
</nav>